#root {
    font-family: sans-serif;
}

.sticky-container {
    top: 0;
    width: 100%;
    position: fixed; 
}
.flex-container {
     
    height: 65px;
    background-color: rgb(48, 47, 44);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.title {
    position: absolute;
    font-size: 1.3em;
    left: 20px;
    color: rgb(237, 237, 235);
}

.flex-item {
    margin: 3px;
}

.label {
    color: rgb(237, 237, 235);
}

.username-input {
    border-radius: 4px;
    
}

.username-input:focus {
    outline: 0;
    
}

.show-container {
    margin-top: 70px;
}

.user-profile {
    position: absolute;
    font-size: 1.3em;
    left: 140px;
    color: rgb(237, 237, 235);
}

.user-page {
    margin-top: 80px;
    margin-left: 20px;
}

.user-page-no-login {
    margin-top: 80px;
    margin-left: 20px;
}


